# It means that the file is the root config file.
config.stopbubbling=true
# Setting the slf4j logger field name is 'LOGGER' while using @Slf4j
lombok.log.fieldName=LOGGER
# Setting the slf4j logger filed is static while using @Slf4j
lombok.log.fieldIsStatic=true
# Add @ConstrcutorProperties annotation to each parameter in constructor that lombok generated.
# The added annotation will help jackstone or other serialization tools to deserialize objects that havn't default constructor.
lombok.anyConstructor.addConstructorProperties=true
# It means that lombok will provide comment for the generated code snippet.
# It's very helpful for code style check.
lombok.addLombokGeneratedAnnotation = true
